<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef="let element">Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date | date }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef="let element">Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calories">
        <mat-header-cell *matHeaderCellDef="let element">Calories</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.calories | number }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef="let element">Duration</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.duration | number }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef="let element">State</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>